@use '../../styles/utils/vars';

.our-services {
  &__content {
    padding: 70px 20px;
    background-color: vars.$white;

    @media (vars.$xl) {
      padding: 70px 0px;
    }

    &__title {
      font-size: 44px;
      font-family: vars.$font-1;
      font-weight: 400;
      color: vars.$black;
      margin-bottom: 20px;

      span {
        font-weight: 500;
        color: vars.$color-1;
      }
    }

    &__text {
      color: vars.$black;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      font-family: vars.$font-2;
      margin-bottom: 20px;
      width: 100%;

      span {
        font-weight: 500;
      }
      
      @media (vars.$xl) {
        width: 80%;
      }
    }

    &__cards {
      margin-top: 30px;
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media (vars.$xl) {
        gap: 10px;
      }
    }
  }
}