@use '../../styles/utils/vars';
@use '../../styles/utils/mixins';

.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: vars.$black;

  .container {
    height: 100%;
  }

  &__video {
    opacity: 30%;
    width: auto;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;

    @media (vars.$xl) {
      width: 100vw;
      height: auto;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 80px 20px 0px;

    @media (vars.$xl) {
      gap: 25px;
      padding: 0px;
    }

    &__h1 {
      width: 100%;
      color: vars.$white;
      font-size: 42px;
      font-weight: 400;
      line-height: 1;
      text-wrap: wrap;
      font-family: vars.$font-1;
      animation: fadeIn;
      opacity: 0%;
      animation-delay: 0.2s;
      animation-duration: 3s;
      animation-fill-mode: forwards;

      @media (vars.$sm) {
        width: 50%;
        font-size: 60px;
      }
    }

    &__paragraph {
      width: 100%;
      color: vars.$white;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.9;
      font-family: vars.$font-2;
      animation: fadeIn;
      opacity: 0%;
      animation-delay: 0.4s;
      animation-duration: 3s;
      animation-fill-mode: forwards;

      @media (vars.$sm) {
        width: 70%;
        line-height: 1.5;
      }
    }

    &__button {
      @include mixins.btn;
      animation: fadeIn;
      opacity: 0%;
      animation-delay: 0.6s;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
  }
}

.services {
  padding: 70px 0px 50px;
  background-color: vars.$gray-1;

  &__content {
    padding: 0px 20px;

    @media (vars.$xl) {
      padding: 0px;
    }

    &__title {
      font-size: 44px;
      font-family: vars.$font-1;
      font-weight: 400;
      color: vars.$black;
      margin-bottom: 20px;

      span {
        font-weight: 500;
        color: vars.$color-1;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      
      @media (vars.$xl) {
        width: 80%;
      }

      p {
        color: vars.$black;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        font-family: vars.$font-2;
      }
    }

    &__subtitle {
      font-size: 28px;
      margin-top: 40px;
      font-weight: 400;
      color: vars.$black;
      font-family: vars.$font-1;
    }

    &__swiper {
      margin-top: 20px;
      padding-bottom: 40px;

      &__item {
        overflow: hidden;
        padding: 20px 0px;
        text-align: center;
        background-color: vars.$color-1;

        img {
          width: 120px;
          height: 120px;
          margin: auto;
        }

        p {
          font-weight: 400;
          font-size: 20px;
          color: vars.$white;
          font-family: vars.$font-1;
          margin-top: 20px;
        }
      }

      .swiper-pagination-bullet {
        opacity: 50%;
        background-color: vars.$color-1;

        &-active {
          opacity: 100%;
          background-color: vars.$color-1;
        }
      }
    }
  }
}

.customers {
  padding: 70px 0px;
  background-color: vars.$white;

  &__content {
    padding: 0px 20px;

    @media (vars.$xl) {
      padding: 0px;
    }

    &__title {
      font-size: 44px;
      font-family: vars.$font-1;
      font-weight: 400;
      color: vars.$black;
      margin-bottom: 20px;

      span {
        font-weight: 500;
        color: vars.$color-1;
      }
    }

    &__images {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      @media (vars.$xl) {
        height: 200px;
      }

      &__img {
        width: 50%;
        height: 185px;
        opacity: 100%;
        position: relative;
        transition: vars.$transition-1;

        img {
          display: block;
          width: auto;
          height: 100%;
          margin: auto;
        }

        @media (vars.$xl) {
          opacity: 85%;
          width: 185px;
          height: 185px;

          &:hover {
            width: 200px;
            height: 100%;
            opacity: 100%;
          }
        }
      }
    }
  }
}

.our-work {
  padding: 70px 0px 70px;
  background-color: vars.$gray-1;

  &__content {
    padding: 0px 20px;

    @media (vars.$xl) {
      padding: 0px;
    }

    &__title {
      font-size: 44px;
      font-family: vars.$font-1;
      font-weight: 400;
      color: vars.$black;
      margin-bottom: 20px;

      span {
        font-weight: 500;
        color: vars.$color-1;
      }
    }

    &__text {
      color: vars.$black;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      font-family: vars.$font-2;
      margin-bottom: 20px;
      width: 100%;
      
      @media (vars.$xl) {
        width: 80%;
      }
    }
  }
}