@use '../../styles/utils/vars';

.header {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  overflow-x: hidden;
  position: fixed;
  background-color: transparent;
  transition: vars.$transition-1;

  &.scrolled {
    background-color: vars.$color-1;
    box-shadow: 0px 0px 15px rgba(vars.$black, 0.2);
  }

  &__content {
    height: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0px 20px;

    @media (vars.$xl) {
      padding: 0px;
    }

    &__button {
      width: 50px;
      height: 50px;
      border: 0px;
      z-index: 10;
      cursor: pointer;
      display: block;
      background-color: transparent;

      @media (vars.$sm) {
        width: 80px;
        height: 80px;
      }

      @media (vars.$lg) {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__logo {
      height: 45px;
      width: auto;

      @media (vars.$sm) {
        height: 60px;
      }
    }

    &__menu {
      width: 90vw;
      gap: 40px;
      top: 0;
      z-index: 9;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      list-style-type: none;
      right: -100vw;
      position: fixed;
      backdrop-filter: blur(300px);
      transition: vars.$transition-1;
      background-color: rgba(vars.$black, 0.8);
      box-shadow: 0px 0px 15px rgba(vars.$black, 0.2);

      &.opened {
        right: 0;
      }

      @media (vars.$lg) {
        right: 0;
        height: 100%;
        flex-direction: row;
        width: fit-content;
        position: static;
        backdrop-filter: none;
        background-color: transparent;
        box-shadow: none;
      }

      &__item {
        width: 80%;
        margin: 0px auto;
        height: fit-content;
        display: block;

        @media (vars.$lg) {
          width: fit-content;
          height: 100%;
        }

        a {
          height: 100%;
          color: vars.$white;
          display: block;
          font-size: 24px;
          position: relative;
          align-content: center;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 400;
          font-family: vars.$font-1;

          @media (vars.$lg) {
            font-size: 16px;

            &:hover {
              &::after {
                width: 100%;
              }
            }

            &::after {
              content: "";
              left: 0;
              bottom: 0;
              width: 0px;
              height: 4px;
              display: block;
              position: absolute;
              background-color: vars.$white;
              transition: vars.$transition-1;
            }
          }
        }
      }
    }
  }
}